*{
    margin:0 auto;
    padding:0px;
}

.banner{
    background-image: url("images/banner/banner2.png");
    text-align: right;
    height:809px;
    background-size: cover;
  
}
.banner-topics{
    width: 450px;
    padding-top: 250px;
    margin-right: 197px;
}
.banner h2{
    color:black;
    font-family: 'Work Sans';
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}
.banner p{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.banner .btn{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color:brown;
    padding: 8px;
    border-radius: 5px;
    border:none;
}
.main-section{
    display: flex;
    padding-top: 100px;
}
.section-content{
    width:400px;
    padding-top:270px;
}
.section-content h2{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;     
    color: #151414;
    margin-bottom: 15px;
}
.section-content p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 15px;
}
.section-content li{
    list-style-type: none;
    margin-bottom: 15px;
  
}

/* our planing section */

.section2{
    text-align:center;
    margin:120px 0;
}
.section2 > h2{
 margin-bottom: 40px;
 font-family: 'Work Sans';
font-weight: 700;
font-size: 40px;
color: #151414;
}

.clm-container{
    display: flex;
}

/* contace section  */
.clm-container .section-clm h2{
    font-family: 'Work Sans';
    font-weight:bold;
    font-size: 30px;
    text-align: center;
    color: #151414;
}
.clm-container .section-clm p{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* My section */
.my-section{
    width: 1600px;
    height: 250px;
    background-image: url(images/strat2.jpg);
    background-size: cover;
    margin-bottom: 50px;
    text-align:center;
   
}
.my-section h2{
    padding-top: 79px;
    font-family: cursive;
    font-size: 37px;
    font-weight: 500;
    color: antiquewhite;
    margin-bottom: 10px;
}
.my-section input[type="email"]{
    width: 230px;
    height: 40px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    padding-left: 26px;
    color: #F3F3F3;
    background-color: #ddd;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.my-section input[type="submit"]{
    width: 162px;
    height: 40px;
    font-family: 'Work Sans';
    font-size: 18px;
    padding-left: 0px;
    color: #F3F3F3;
    background-color: #485848;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
}




.contact{
    margin: 0 auto;
    width:1140px;
    height: 301px;
    text-align: left;
    margin-bottom: 120px;
    background-repeat: no-repeat, repeat;
    background-image: url("images/watch.png"), url("images/gradient2.png");
    background-blend-mode: lighten;   
}
.contact h2{
    padding-left: 80px;
    padding-top: 100px;
    margin-bottom: 20px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.contact .btn{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    color:rgb(134, 79, 79);
    background-color:#FFFFFF;
    padding: 8px;
    border-radius: 5px;
    border:none;
    margin-left: 80px;
}

/* prblm solve korte hobe uporer ongso */


/*footer section*/
.ftr{
    display:flex;
    width:1420px;
    height: 500px;
    background: #151414;
    margin-bottom: 50px;
}

.ftr .contact-us{
    width:485px;
    margin-left: 98px;
    padding: 135px 0;
}

.contact-us h2{
font-family: 'Work Sans';
font-weight: 700;
font-size: 45px;
margin-bottom: 30px;
color: #F8F8F8;
}

.contact-us p{
font-family: 'Work Sans';
font-style: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.contact-us a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 17px;
    margin-top: 20px;
    display: inline-block;
}

.subscribe{
    padding: 135px 0;
}
.subscribe h3{
font-family: 'Work Sans';
font-weight: 600;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 30px;
}
.subscribe input[type="email"]{
    width: 325px;
    height: 64px; 
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    padding-left:30px;
    color: #F3F3F3;
    background-color:  #151414;
    border:1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 35px;
}
.subscribe input[type="submit"]{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    color:#F15B22;
    background-color:#FFFFFF;
    padding: 8px;
    border-radius: 5px;
    border:none;
}






